*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}